<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wpy.personal.novel.novel.novel.mapper.NovelChapterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="wpy.personal.novel.pojo.entity.NovelChapter">
        <id column="chapter_id" property="chapterId" />
        <result column="volume_id" property="volumeId" />
        <result column="chapter_name" property="chapterName" />
        <result column="chapter_order" property="chapterOrder" />
        <result column="start_line" property="startLine" />
        <result column="end_line" property="endLine" />
        <result column="total_line" property="totalLine" />
        <result column="epub_path" property="epubPath" />
        <result column="parent_id" property="parentId" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        chapter_id, volume_id, chapter_name, chapter_order, start_line, end_line, total_line, epub_path, parent_id, create_time, create_by, update_time, update_by, is_delete
    </sql>
    <select id="getChapterFileInfo" resultType="wpy.personal.novel.pojo.entity.NovelChapter">
        select nc.*,nf.file_type,nf.file_path,nf.file_md5
        from novel_chapter nc
        left join novel_volume nv on nv.volume_id = nc.volume_id
        left join novel_file nf on nf.file_id = nv.file_id
        where nc.id = #{chapterId}
    </select>

</mapper>
