<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wpy.personal.novel.novel.system.mapper.SysRolePermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="wpy.personal.novel.pojo.entity.SysRolePermission">
        <id column="role_permission_id" property="rolePermissionId" />
        <result column="role_id" property="roleId" />
        <result column="permission_id" property="permissionId" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        role_permission_id, role_id, permission_id, create_time, create_by, update_time, update_by, is_delete
    </sql>
    <select id="getPermissionByRoleCodeList" resultType="wpy.personal.novel.pojo.entity.SysPermission">
        select srp.*
        from sys_role_permission srp,sys_role sr,sys_permission sp
        where srp.role_id = sr.role_id
        and srp.permission_id = sp.permission_id
        <foreach collection="list" open="and sr.role_code in (" close=")" item="item" separator=",">
            #{item}
        </foreach>
    </select>

</mapper>
