<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wpy.personal.novel.novel.system.mapper.SysUserRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="wpy.personal.novel.pojo.entity.SysUserRole">
        <id column="user_role_id" property="userRoleId" />
        <result column="user_id" property="userId" />
        <result column="role_id" property="roleId" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_role_id, user_id, role_id, create_time, create_by, update_time, update_by, is_delete
    </sql>
    <select id="getRoleListByUserId" resultType="wpy.personal.novel.pojo.entity.SysRole">
        select sr.*
        from sys_user_role sur
        left join sys_role sr on sur.role_id = sr.role_id
        where sur.user_id = #{userId}
    </select>
    <select id="getUserListByRole" resultType="wpy.personal.novel.pojo.entity.SysUser">
        select su.*
        from sys_user su
        left join sys_user_role sur on sur.user_id = su.user_id
        where sur.role_id = #{roleId}
    </select>

</mapper>
